page-forgot-password {
	.toolbar-background{
		background: linear-gradient(to top, #160c56 0%, #052238 100%);
		color: #fff;
	}
	.toolbar-title {
	    font-size: 14px;
	    font-weight: 400;
	    color: #ffffff;
	    text-align: center;
	    line-height: 35px;
	}
	
	.toolbar .left_heder{
		position: absolute;
	    left: 0px;
	    top: 3px;
	    z-index: 99999;
        width: 45px;
	}
	.toolbar .right_heder{
		position: absolute;
	    right: 10px;
	    top: 5px;
	    z-index: 99999;
	    width: 30px;
	}
	.scroll-content{
		background: #ffffff !important;
		margin-bottom: 0px !important;
	}
	.toolbar .right_heder,.toolbar .left_heder{
		background: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}
	.toolbar .right_heder:hover,.toolbar .left_heder:hover{
		background: none;
	}
	.toolbar .left_heder img{
		width: 10px;
	}
	.toolbar .right_heder img{
		width: 25px;
	}

	.contents form{
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
	}
	.list-md .item-block .item-inner,.list-ios .item-block .item-inner{
		border-bottom: none;
	}
	.contents .item-input ion-input{
	    
	}
	.item-md.item-block .item-inner,.item-ios.item-block .item-inner{
		padding-right: 16px;
	}
	.text-input-md,.text-input-ios{
		margin: 15px 0px;
		font-size: 14px;
		color: #160c56;
		
	}
	
	.contents .fee{
		font-size: 12px;
    	padding-left: 22px;
	}
	.contents .button_customer button{
		background: transparent;
	    height: 45px;
	    border: 1px solid #160c56;
	    color: #160c56;
	    box-shadow: none;
	    border-radius: 15px;
	}
	.button-md:hover:not(.disable-hover),.button-ios:hover:not(.disable-hover),{
		background: transparent;
	}
	.list-md .item-input:last-child,.list-ios .item-input:last-child{
		border-bottom: 1px solid #160c56 !important;
	}
	.item-md,
	.item-ios {
	    background: transparent;
	    border: 1px solid #160c56 !important;
	    border-width: 1px !important;
	    margin-bottom: 15px;
	    border-radius: 15px;
	}
	.list-md .item-input:last-child,.list-ios .item-input:last-child{
		
	}
	.contents ion-col img{
		position: absolute;
	    right: 20px;
	    top: 19px;
	    width: 20px;
	}
	.contents ion-col span.text{
	    position: absolute;
	    right: 20px;
	    top: 19px;
	    color: #969696;
	    font-size: 12px;
	}
	.form ion-label[fixed] {
	    
	    flex: 0 0 48px;
	    width: 48px;
	    min-width: 48px;
	   color: #FFFFFF;
	   font-size: 12px;
	}
	.form ion-label.coin[fixed] {
	    
	    flex: 0 0 0px;
	    width: 0px;
	    min-width: 0px;
	   
	}
	.form .input-wrapper{
		
	}
	.form .item-input .label-md,.form .item-input .label-ios{
		color: #160c56;
    	font-size: 14px;
    	
	}
	.form .item-inner{
		padding-right: 0px;
	}
	.form ion-select{
	    width: 100%;
	    max-width: 100%;
	    font-size: 14px;
	}
	.select-text{
	    color: #160c56;
	    font-size: 14px;
	    line-height: 18px;
	    
	}
	/*.scroll-content {
		background: url('../assets/imgs/original.gif') center !important;
		background-size: cover  !important;
	}
	.scroll-content::before{
		width: 100% !important;
		height: 100%  !important;
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		background: rgba(4, 32, 39, 0.92);
	}*/
	.logo {
		padding: 20px 0;
		
		text-align: center;
		margin-top: 40px;
	    position: relative;
   	 	margin: 0 auto;
 	    width: 100%;
 	    float: left;
		img {
			max-width: 250px;
		}
	}
	.step_2 .input_code{
		border: 1px solid #160c56 !important;
		float: left;
    	margin-right: 2%;
    	width: 15%;
    	text-align: center;
	}
	.step_2 p,.step_3 p{
		text-align: center;
		color: #fff;
	    font-size: 12px;
	}
	.step_2 .input_code input{
		text-align: center;
	}
	.step_2 .input_code:last-child{
		margin-right: 0;
	}
	.step_2 .button,.step_3 .button{
		width: 99.9%;
	    float: left;
	    margin-top: 20px;
	}
	.step_2 button,.step_3 button{
		background: transparent !important;
	    height: 45px;
	    border: 1px solid #160c56;
	    color: #160c56;
	    box-shadow: none;
	}

	.step_3 .input_password{
		border: 1px solid #160c56 !important;
		float: left;
    	margin-top: 20px;
    	width: 100%;
    	padding-left: 15px;
	}
	
}
.select-customer-forgot .action-sheet-title{
	height: 40px;
	display: none;
	border-bottom:  1px solid #e4e4e4;
}
.select-customer-forgot .action-sheet-group{
	border-radius: 10px;
    
    width: 85%;
    margin: 5px auto;
}
.select-customer-forgot .action-sheet-button{
	border-bottom:  1px solid #e4e4e4;
	font-size: 14px;
    color: #353738;
    text-align: center;
}
.select-customer-forgot .action-sheet-group .button-inner{
	justify-content: center;
}
.select-customer-forgot .action-sheet-selected{
	font-weight: 500;
}
.select-customer-forgot .action-sheet-group:last-child{
	padding-bottom: 0px;
}