page-transaction {
	.toolbar-background{
		background: linear-gradient(to top, #160c56 0%, #052238 100%);
		color: #fff;
	}
	.toolbar-title {
	    font-size: 14px;
	    font-weight: 500;
	    color: #ffffff;
	    text-align: center;
	}
	.scroll-content{
		background: #fff !important;
	}
	
}
