
<ion-header>

  <ion-navbar>
  	
    <button (click)="goback()" ion-button class="left_heder" >
      <img  src="assets/imgs/back.png"  />
    </button>
    <ion-title>Contact Us</ion-title>
    <button (click)="ViewAddNewContactUs()"  ion-button  class="right_heder">
	      <img  src="assets/imgs/add.png"  />
	    </button>
  </ion-navbar>

</ion-header>


<ion-content class="exchange_record">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<ion-card>
	    <ion-card-content class="history">
	    
	    	<ion-grid *ngFor="let item of history" style="border-bottom: 1px solid #eee;" >
		      	
		      	<ion-row >
		          	
		          	<ion-col col-9 class="right">
		          		<p class="detail">{{item.subject}}</p>
		          		<p><span class="date_added" float-left>{{item.date_added}}</span></p>
		          			
		          			
		          	</ion-col>
		          	<ion-col col-3>
		          		<span float-right text-center style=" border-radius: 10px; padding: 5px 0px; color: #4CAF50; font-size: 12px; margin-top: 3px;" (click)="ViewDetailSupport(item._id)">View detail</span>
		          	</ion-col>
		        </ion-row>
		       
		        
		       
			</ion-grid>
			<p text-center margin-top  *ngIf="count_history == 0 || history_load_no == true">No data</p>
	    	
	    </ion-card-content>
	</ion-card>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="count_history > 0 && history_load_no == false">
	   	<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
