
<ion-header>

  <ion-navbar>
  	
    <button (click)="goback()" ion-button class="left_heder" >
      <img  src="assets/imgs/back.png"  />
    </button>
    <ion-title>Binding Google Setings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content_settings">
	
	<ion-card class="contents" *ngIf="infomation.status_authen == 0">
    <ion-row  >
      <h3 class="title" text-center>Enlable 2FA</h3>
      <ion-col col-12 class="">
        <img (click)="CopyCode2FA(infomation.otp_secret)" class="img_qrcode" src="https://chart.googleapis.com/chart?chs=166x166&chld=L|0&cht=qr&chl={{infomation.url_otp}}}" />
      </ion-col>
    </ion-row>

    <form  (ngSubmit)="SubmitForm_Enlable()">
    <ion-row >
      <ion-col col-12 class="">
        <p class="code" (click)="CopyCode2FA(infomation.otp_secret)">{{infomation.otp_secret}}</p>
        <p class="text" text-center>Click QR code to copy the code.</p>
      </ion-col>
      
        <ion-col col-6>
          
            <ion-item>
              <ion-input class="input" [(ngModel)]="form.code_enlable" placeholder="Code 2FA" name="code_enlable" type="text" required></ion-input>
            </ion-item>
          
        </ion-col>

        <ion-col col-6>
          <button class="button_cus" ion-button full type="submit" block>Enlable 2FA</button>
        </ion-col>
      
    </ion-row>
    </form>
  </ion-card>
  <ion-card class="contents" *ngIf="infomation.status_authen == 1">
    <form  (ngSubmit)="SubmitForm_Disable()">
      <ion-row >
        <h3 class="title disable" text-center>Disable 2FA</h3>
        <ion-col col-6>
          
            <ion-item>
              <ion-input class="input" [(ngModel)]="form.code_disable" placeholder="Code 2FA" name="code_disable" type="text" required></ion-input>
            </ion-item>
          
        </ion-col>

        <ion-col col-6>
          <button class="button_cus" ion-button full type="submit" block>Disable 2FA</button>
        </ion-col>
            
      </ion-row>
	  </form> 
     
	</ion-card>
	
</ion-content>
