<ion-content>
	<ion-card class="card_header" >
		<!-- <p text-center>
			<img  src="assets/imgs/logo.png" /> 
		</p>
		<p text-center>
			{{infomation.email}}
		</p>	 -->
		<ion-card-content>
      <ion-grid>
        <ion-row text-center>
          <ion-col col-12 text-center>
            <div class="border-image">
              <img *ngIf="img_camera == ''"  class="img-profile"  src="{{infomation.img_profile}}" />
              <img *ngIf="img_camera != ''"  class="img-profile" src="{{img_camera}}">
              <ion-icon  class="icon-img" name="camera"></ion-icon>

              <ion-select [(ngModel)]="form.type_photo" [selectOptions]="selectOptions"  (ionChange)="onChangeSelectFrom($event)" class="selecte_coin" interface="action-sheet" name="currency" >
                <ion-option value="1" selected="true">Take Photo</ion-option>
                <ion-option value="0">Photo library</ion-option>
              </ion-select>
            </div>
            <p text-center>{{infomation.email}}</p>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
	</ion-card>
	
	<ion-card class="card_content">
  <!-- *ngIf="infomation.status_verityaccount == 0" -->
    <p class="notification">Please verify your account to be able to perform all the functions of the program.</p>
    <ion-list>
      <ion-item class="background" (click)=ViewQrcodeAddPartner()>
        <div float-left text-left class="left">
          <h6><ion-icon name="barcode"></ion-icon>  Qrcode Add Partner</h6>
        </div>
      </ion-item>
      <ion-item class="background" (click)=ViewMyPartnerPage()>
        <div float-left text-left class="left">
          <h6><ion-icon name="people"></ion-icon>  My Member</h6>
        </div>
      </ion-item>
      <!-- <ion-item class="background" (click)=ViewEanings()>
        <div float-left text-left class="left">
          <h6><ion-icon name="filing"></ion-icon>  Profit</h6>
        </div>
      </ion-item> -->
      <ion-item class="background" (click)=ViewRecordsExchange()>
        <div float-left text-left class="left">
          <h6><ion-icon name="repeat"></ion-icon>  Records of Exchange</h6>
        </div>
      </ion-item>
      <ion-item class="background" (click)=ViewContactUs()>
        <div float-left text-left class="left">
          <h6><ion-icon name="help-buoy"></ion-icon> Contact Us</h6>
        </div>
      </ion-item>
      <ion-item class="background" (click)=ViewAddWalletAddress()>
        <div float-left text-left class="left">
          <h6><ion-icon name="paper"></ion-icon>  Add Wallet Address</h6>
        </div>
      </ion-item>
      <ion-item class="background" (click)=ViewSettings()>
        <div float-left text-left class="left">
          <h6><ion-icon name="settings"></ion-icon>  Settings</h6>
        </div>
      </ion-item>
    </ion-list>
		
	</ion-card>

	<ion-card class="bottom_content">
		<p text-center (click)="Logout_Click()">
			Logout
		</p>
	</ion-card>
</ion-content>
